<a href="https://colab.research.google.com/github/04jine/colab/blob/main/No_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* 파이썬 2장
* 변수란

In [15]:
num1 = input("첫번째 숫자 입력")
num2 = input("두번째 숫자 입력")
result1 = num1 + num2
result2 = num1 - num2
result3 = num1 / num2
result4 = num1 * num2 
print(num1,"+" num2 ,"=", result1)
print(num1 "-", num2 ,"=", result2)
print(num1 "/", num2 ,"=", result3)
print(num1 "%",num2 ,"=", result4)

SyntaxError: ignored

input()함수 예제

In [18]:
num1 = float(input("첫번째 숫자 입력 : "))
num2 = float(input("두번째 숫자 입력 :"))
print(num1,"+",num2 ,"=",num1+num2)
print(num1,"-",num2 ,"=",num1-num2)
print(num1,"x",num2 ,"=",num1*num2)
print(num1,"/",num2 ,"=",num1/num2)

첫번째 숫자 입력 : 100
두번째 숫자 입력 :200
100.0 + 200.0 = 300.0
100.0 - 200.0 = -100.0
100.0 x 200.0 = 20000.0
100.0 / 200.0 = 0.5

In [24]:
name1 = (input("이름을 입력하시오 : "))
name2 = (input("전화번호를 입력하시오 : "))
print("제 이름은",(name1),"이고","연락처는",(name2),"입니다")

이름을 입력하시오 : 리현승
전화번호를 입력하시오 : 010-5946-2847
제 이름은 리현승 이고 연락처는 010-5946-2847 입니다